{% extends 'base.html' %}

{% block page %}

<!-- Start of page content -->

<div id="content" class="column inner-content">

    <h1 class="title" id="page-title">{{ content.title }}</h1>

    <div class="meta submitted">Added by <span class="username">{{ content.author|capfirst }}</span> on {{ content.create_dt }}</div>

    <img src="{{ media }}{{ content.image_1 }}" alt="{{ content.image_1.title }}" class="image-left" />
    {{ content.body|safe|linebreaks }}

    <div id="tags">
        <h3 class="field-label">Tags: </h3>
        <ul class="links">
            {% for tag in content.tags.all %}
            <li class="tag"><a href="{{ tag.text }}">{{ tag.text }}</a></li>
            {% endfor %}
        </ul>
    </div>

            {% for block in regions.main %}
                <p>{{ block }}</p>
            {% endfor %}

</div>

<!-- End of page content -->

{% endblock %}