* {
margin: 0px;
}

#header {
    background: #064771;
    color: white;
    width: 100%;
    height: 100px;
    float: left;
}

#header-left{
    float: left;
}

#header-right{
    float: right;
    text-align: right;
}

#divider {
    background: #1469C9;
    color: white;
    width: 100%;
    height: 44px;
    float: left;
    overflow: hidden;
}

#main p {
    font-size: 14px;
}


#main-left-top {
    color: white;
    float: left;
    width: 33%;
}

#main-left-bottom {
    background: #fff;
    float: left;
    width: 33%;
    height: 500px;
}

#main-middle-top {
    float: left;
    color: white;
    width: 34%;
    text-align: left;
}

iframe {
    margin: 10px;
}

#main-middle-bottom {
    background: #e9e9e9;
    text-align: left;
    width: 34%;
    float: left;
    height: 500px;
}

#main-right-top {
    float: left;
    width: 33%;
}

#main-right-bottom {
    background: #fff;
    float: left;
    width: 33%;
    height: 500px;
}

#top {
    float: left;
    width: 100%;
    color: white;
    overflow: all;
    background: #319BE5;
}

#bottom {
    float: left;
    width: 100%;
}

h3, h4, h5 {
    margin: 10px;
}

p {
    margin: 10px;
}

button {
    background: #FFC706;
    color: #555;
    line-height: 20px;
    font-weight: normal;
    letter-spacing: None;
}

button:hover {
    color: black;

}

.news {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}

#header ul {
    margin: 10px;
}

#header li {
    float: left;
    list-style: None;
    overflow: all;
}

#header li a, #header li a:visited {
    text-decoration: None;
    float: left;
    font-size: 14px;
    margin: 5px;
    padding: 5px;
    text-decoration: None;
    border: None;
    color: #ffffff;
    border-radius: 5px;
}

#header li a:hover {
    color: #FFC706;
}

#divider li {
    float: left;
    list-style: None;
    overflow: all;
}

#divider li a, #divider li a:visited {
    text-decoration: None;
    float: left;
    font-size: 14px;
    margin: 5px;
    padding: 5px;
    text-decoration: None;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid white;
    width: 80px;
    text-align: center;
}

#footer {
    width: 100%;
    float: left;
    height: 100px;
    background: #555;
    color: #ddd;
    font-size: 14px;
}

.addons {
    margin: 10px;
    float: left;
}

.tutorials-teaser {
    margin: 10px;
}

#videos {
    text-align: center;
}