{% extends 'base.html' %}

{% block divider %}
        <div id="divider">
            {% for block in regions.divider %}
                {{ block }}
            {% endfor %}
        </div>
{% endblock %}

{% block main-middle-top %}
<div id="main-middle-top">
    <h5>{{ content.title }}</h5>
</div>
{% endblock %}

{% block main-left-bottom %}
{% endblock %}

{% block main-middle-bottom %}
    <div id="article">
    {{ content.body|safe|linebreaks }}
    </div>
{% endblock %}

{% block main-right-bottom %}
{% endblock %}