{% load staticfiles %}

<html>
    <head>
        <title>Glycon - a Python CMS - Powerful, Intuitive, and Fast</title>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    <body>
        <div id="header">
            <div id="header-left"><img src="{{ media }}{{ logo }}"/></div>
            <div id="header-right">
                {% include "mainmenu.html" %}
            </div>
        </div>
        {% block divider %}{% endblock %}

        <div id="main">
            <div id="top">

                {% block main-left-top %}
                <div id="main-left-top">
                    {% for block in regions.left_heading %}
                        <h5>{{ block }}</h5>
                    {% endfor %}
                </div>
                {% endblock %}

                {% block main-middle-top %}{% endblock %}

                {% block main-right-top %}
                <div id="main-right-top">
                    {% for block in regions.right_heading %}
                        <h5>{{ block }}</h5>
                    {% endfor %}
                </div>
                {% endblock %}

            </div>

            <div id="bottom">
                {% block main-left-bottom %}
                <div id="main-left-bottom">
                    {% include "left-sidebar.html" %}
                </div>
                {% endblock %}

                {% block main-middle-bottom %}{% endblock %}

                {% block main-right-bottom %}
                <div id="main-right-bottom">
                    {% include "right-sidebar.html" %}
                </div>
                {% endblock %}
            </div>
        </div>
        <div id="footer">
            {% include 'footer.html' %}
        </div>
    </body>
</html>