{% extends 'base.html' %}

{% block divider %}
        <div id="divider">
            {% for block in regions.divider %}
                {{ block }}
            {% endfor %}
        </div>
{% endblock %}

{% block main-left-top %}
<div id="main-left-top">
    <h5>Get a site online in ten minutes flat..</h5>
</div>
{% endblock %}

{% block main-middle-top %}
<div id="main-middle-top">
    <h5>Share and extend</h5>
</div>
{% endblock %}

{% block main-right-top %}
<div id="main-right-top">
    <h5>Latest News</h5>
</div>
{% endblock %}

{% block main-middle-bottom %}
<div id="main-middle-bottom">
    <div class="addons">
        <b>Find a package to enhance your website in the Add-ons Library</b><br/><br/>
        <u>Latest Uploads</u><br/>
        <b>23-12-15 09:12</b>: <a href="">Statcounter Integration v0.4</a><br/>
        <b>23-12-15 05:16</b>: <a href="">Disqus Comments v0.1</a><br/>
        <b>22-12-15 12:12</b>: <a href="">Google Analytics v0.9</a><br/>
        <b>22-12-15 08:01</b>: <a href="">AddThis v0.4</a><br/>
        <b>21-12-15 02:15</b>: <a href="">Contact Forms v1.0</a><br/>
    </div>
</div>
{% endblock %}