<div id="block-widgets-s-twitter-user-timeline-widget" class="block block-widgets">
    <div class="content">
        <a class="twitter-timeline" href="https://twitter.com/bencollier"
           data-widget-id="572405439238004736" width="292" height="300" data-link-color="#0779BF"
           border-color="#D6D6D6">Tweets by @bencollier</a>

        <script>
                        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

        </script>

    </div>
</div>